* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

button{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

#canvas {
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container{
    width: 600px;
    margin: 0 auto;
    padding-top:50px ;
}

.tools__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.clear-btn{
    border: none;
    background: transparent;
    cursor: pointer;
}

.download{
    text-decoration: none;
    color: whitesmoke;
}

.download:hover, .clear-btn:hover{
    color: rgb(206, 206, 206);
}


